In [1]:
# import modules
import numpy as np
import pandas as pd
import lightfm
from lightfm import LightFM
from lightfm.data import Dataset
import time

C:\Users\lzx3x3\anaconda3\lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn('LightFM was compiled without OpenMP support. '

In [2]:
# import dataset

restaurant_df = pd.read_csv('restaurant.csv')
rate_df = pd.read_csv('user_reviews.csv')

In [3]:
restaurant_df.head()

,restaurant_id,restaurant_name,neighborhood,review_count,price,type,average_rating
0,_IFMCrheTi12RqiR7jvJUg,Little Rey,Westside / Home Park,225,2.0,mexican,4.0
1,0qJXSTFBnNoh5lMD3LgE0Q,Bacchanalia,Westside / Home Park,660,4.0,american,4.5
2,0ukhgBeLATOo8b8lDobRGg,Roasters,Westside / Home Park,369,2.0,american,4.0
3,14nIlMhxTXWnJg0Glrr-PQ,Top Spice,Morningside / Lenox Park,471,2.0,asian,4.0
4,1i63faxXI1TQ7pNlLp3IPQ,Cypress Street Pint & Plate,Westside / Home Park,1244,2.0,american,4.0

In [4]:
rate_df.head(5)

,restaurant_name,restaurant_id,user_id,friends,number_reviews,photos,area_AL,elite_user,date,rating,rating_mean,standard_dev
0,Fox Bros. Bar-B-Q,u-4wti774tFcYRLuQrnHEg,__1kMkvHH-kWVeokwZSFXw,115,3,NaN,1,0,3/18/2016,5,4.268636,NaN
1,South City Kitchen Midtown,eG-UO83g_5zDk70FIJbm2w,__48dJJcPvNgqUlEozwtpw,105,318,1219.0,0,0,8/23/2014,4,4.336328,NaN
2,The Vortex Bar And Grill - Midtown,Z2qMwUhnGt_2pA9uQbS7Uw,__48dJJcPvNgqUlEozwtpw,105,318,1219.0,0,0,8/23/2014,4,3.946784,NaN
3,Fat Matt's Rib Shack,ALYQ-uM_uMkKbkXlhWcgbQ,__48dJJcPvNgqUlEozwtpw,105,318,1219.0,0,0,8/23/2014,5,4.178538,NaN
4,Cypress Street Pint & Plate,1i63faxXI1TQ7pNlLp3IPQ,__48dJJcPvNgqUlEozwtpw,105,318,1219.0,0,0,8/23/2014,4,4.028112,NaN

In [5]:
print('restaurant: ', restaurant_df.shape)
print('user_reviews: ', rate_df.shape)

restaurant:  (97, 7)
user_reviews:  (71432, 12)

In [6]:
# generate different size of datasets
rate_df_1 = rate_df[0:2000]
rate_df_2 = rate_df[0:20000]
rate_df_3 = rate_df[0:70000]

In [7]:
print('user_reviews_1: ', rate_df_1.shape)
print('user_reviews_2: ', rate_df_2.shape)
print('user_reviews_3: ', rate_df_3.shape)

user_reviews_1:  (2000, 12)
user_reviews_2:  (20000, 12)
user_reviews_3:  (70000, 12)

In [8]:
# data Analysis

num_of_rate_per_user = rate_df_3.groupby(by='user_id')['rating'].count().sort_values(ascending=True)
num_of_rate_per_user.head(10)

user_id
UvGT0JSSvPVMHQmIrx0E1w    1
cEFXYRhTsvfOu7s3K-GSoQ    1
cEHSnPusrGSR7uqks8q07Q    1
cEKG-JvH8BNJrncIHwAdCA    1
cEOOLhNWQ-2qySQZK06toQ    1
cEg5z0laRpLnn-0iEUHUUw    1
cEgtc2023TXJrfYv49OMXw    1
cEoUXy-o7d5idvmL_642Jg    1
cE0R1C-Aacg4R3gfxLy48Q    1
cEtOc0LaFcpjQ8a8yg-yeA    1
Name: rating, dtype: int64

In [9]:
full_df = rate_df_1[['user_id', 'restaurant_name', 'rating']]
full_df.head()

                  user_id                     restaurant_name  rating
0  __1kMkvHH-kWVeokwZSFXw                   Fox Bros. Bar-B-Q       5
1  __48dJJcPvNgqUlEozwtpw          South City Kitchen Midtown       4
2  __48dJJcPvNgqUlEozwtpw  The Vortex Bar And Grill - Midtown       4
3  __48dJJcPvNgqUlEozwtpw                Fat Matt's Rib Shack       5
4  __48dJJcPvNgqUlEozwtpw         Cypress Street Pint & Plate       4

In [10]:
print(full_df.shape)

(2000, 3)

In [11]:
#Getting the new dataframe which contains users who has given 2 or more ratings

data=full_df.groupby("user_id").filter(lambda x:x['rating'].count() >=2)
data.sort_values(by='user_id', ascending=True)
data.head(10)

                   user_id                     restaurant_name  rating
1   __48dJJcPvNgqUlEozwtpw          South City Kitchen Midtown       4
2   __48dJJcPvNgqUlEozwtpw  The Vortex Bar And Grill - Midtown       4
3   __48dJJcPvNgqUlEozwtpw                Fat Matt's Rib Shack       5
4   __48dJJcPvNgqUlEozwtpw         Cypress Street Pint & Plate       4
8   __bMs0nf3_hnhitK91gT4A          South City Kitchen Midtown       4
9   __bMs0nf3_hnhitK91gT4A              Atlanta Breakfast Club       5
10  __bMs0nf3_hnhitK91gT4A          Herban Fix - Vegan Kitchen       2
18  _02XN3yATdWwfMIbsGhMuQ                        Slutty Vegan       5
19  _02XN3yATdWwfMIbsGhMuQ               26 Thai Kitchen & Bar       4
20  _02XN3yATdWwfMIbsGhMuQ          Sweet Georgia's Juke Joint       2

In [12]:
print(data.shape)

(911, 3)

In [28]:
df_user=rate_df_1[['user_id', 'number_reviews', 'elite_user', 'rating']].groupby("user_id").filter(lambda x:x['rating'].count() >=2)
df_user = df_user.drop_duplicates(subset='user_id', keep="first")

df_user.head(10)

                   user_id  number_reviews  elite_user  rating
1   __48dJJcPvNgqUlEozwtpw             318           0       4
8   __bMs0nf3_hnhitK91gT4A             241           1       4
18  _02XN3yATdWwfMIbsGhMuQ             158           1       5
24  _0aVQ4FlWgbsYt5weko4RA              18           0       5
32  _0cWueK8TnVQgzDAHYzmqA             342           0       4
35  _0Fy-RA342PdGvLjsaPmtQ             148           0       3
39  _0p-IcWltylzqAH4CioExA             400           1       4
54  _1cGXPU3pUKKyjUEsU92qQ              17           0       5
62  _1wSwNKhS4WOYqOksOE1zQ             171           0       4
64  _1wTD-D_I-UjofcTHgANDA             168           0       4

In [29]:
df_user.shape

(305, 4)

In [15]:
# Codes referenced "https://making.lyst.com/lightfm/docs/examples/dataset.html" &
# https://www.kaggle.com/niyamatalmass/lightfm-hybrid-recommendation-system/execution#LightFM-Python-Library"!!!

In [16]:
def generate_int_id(dataframe, id_col_name):
    new_dataframe=dataframe.assign(
        int_id_col_name=np.arange(len(dataframe))
        ).reset_index(drop=True)
    return new_dataframe.rename(columns={'int_id_col_name': id_col_name})

In [17]:
# generating unique integer id for users and restaurants

restaurant_df = generate_int_id(restaurant_df, 'restaurant_int')
df_user = generate_int_id(df_user, 'user_int')
data = generate_int_id(data, 'restaurant_int')
data = generate_int_id(data, 'user_int')

In [18]:
restaurant_df.head()

,restaurant_id,restaurant_name,neighborhood,review_count,price,type,average_rating,restaurant_int
0,_IFMCrheTi12RqiR7jvJUg,Little Rey,Westside / Home Park,225,2.0,mexican,4.0,0
1,0qJXSTFBnNoh5lMD3LgE0Q,Bacchanalia,Westside / Home Park,660,4.0,american,4.5,1
2,0ukhgBeLATOo8b8lDobRGg,Roasters,Westside / Home Park,369,2.0,american,4.0,2
3,14nIlMhxTXWnJg0Glrr-PQ,Top Spice,Morningside / Lenox Park,471,2.0,asian,4.0,3
4,1i63faxXI1TQ7pNlLp3IPQ,Cypress Street Pint & Plate,Westside / Home Park,1244,2.0,american,4.0,4

In [19]:
data.head()

,user_id,restaurant_name,rating,restaurant_int,user_int
0,__48dJJcPvNgqUlEozwtpw,South City Kitchen Midtown,4,0,0
1,__48dJJcPvNgqUlEozwtpw,The Vortex Bar And Grill - Midtown,4,1,1
2,__48dJJcPvNgqUlEozwtpw,Fat Matt's Rib Shack,5,2,2
3,__48dJJcPvNgqUlEozwtpw,Cypress Street Pint & Plate,4,3,3
4,__bMs0nf3_hnhitK91gT4A,South City Kitchen Midtown,4,4,4

In [20]:
from scipy.sparse import coo_matrix
import sys

u= data['user_int']
s= data['restaurant_int']
t= data['rating']

lu= u.nunique()
ls= s.nunique()

matrix= coo_matrix((t,(u,s)), shape=(lu, ls))
print(sys.getsizeof(matrix))

48

In [21]:
# Build lifhtFM collaborative Filtering model

In [22]:
# Default "Learning to Rank" Models with LightFM

model = LightFM(learning_rate=0.05, loss='warp')

In [23]:
from lightfm.cross_validation import random_train_test_split
train, test= random_train_test_split(matrix, test_percentage=0.2)

In [24]:
from lightfm.evaluation import auc_score, precision_at_k
start_time = time.time()
scores=[]
for e in range(10):
    model.fit_partial(train, epochs=10, num_threads=4)
    auc_train= auc_score(model, train, num_threads=4).mean()
    auc_test= auc_score(model, test, num_threads=4).mean()
    scores.append((auc_train, auc_test))
    
scores = np.array(scores)
print(time.time() - start_time)

0.5994336605072021

In [25]:
print(scores)

[[0.83063036 0.1003603 ]
 [0.9856448  0.09905723]
 [0.9990808  0.09903321]
 [0.9998883  0.09903321]
 [0.99995923 0.09903321]
 [0.9999728  0.09903321]
 [0.9999804  0.09903321]
 [0.99997437 0.09903321]
 [0.9999789  0.09903321]
 [0.99997735 0.09903321]]

In [30]:
# prediction 

prediction= model.predict(np.array(data['user_int']), np.array(data['restaurant_int']))
preds= pd.DataFrame(zip(prediction, data['user_id'],data['restaurant_name'].tolist()), columns=['preds', 'user_id', 'restaurant_name'])
preds= preds.sort_values('preds', ascending= False)

In [31]:
#creating function to get top 5 Product Recommendation for each user.

preds

        preds                 user_id               restaurant_name
243  2.100278  _JImuS4cuhIdrxJ1dFArlA    Sweet Georgia's Juke Joint
426  2.056181  _vdRrbd4GZwPihM4QUHaWQ             Fox Bros. Bar-B-Q
263  2.046145  _L1pkTdmTvzkUHqE_b7C3Q  Louisiana Bistreaux Buckhead
485  2.009933  _Z_bthCNWY2bMnaIAp7SYA             Fox Bros. Bar-B-Q
533  2.007424  04_jG2EE6J-rMUZpBsmH0g     Grindhouse Killer Burgers
..        ...                     ...                           ...
769 -0.621469  0lT_cMUTF-LDJynQcfGPww             Fox Bros. Bar-B-Q
737 -0.623112  0IOe3crUYSJ_K1fxYH0dXw                Little Bangkok
256 -0.635422  _Kc7VDrYA3wB0fWNZ36riQ     Grindhouse Killer Burgers
529 -0.642611  03n7_buIe-lARdl74Y22AQ        Atlanta Breakfast Club
319 -0.649901  _oTWHf1ZFu62IOK4RVraww          FLIP burger boutique

[911 rows x 3 columns]